html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
}
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

h1, h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.service h2,
.catalog-text h2 {
  color: #000000;
  line-height: 24px;
}

.information h2 {
  color: #000000;
  line-height: auto;
}

h1 {
  text-align: left;
  padding-left: 30px;
  padding-top: 29px;
  padding-bottom: 30px;
  margin:0;
  margin-bottom: 20px;
  background-color: #f2f6f8;
}

h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  background-color: #f1f5f7;
  padding-bottom: 60px;
  
}

.header-logo {
  float: left;
  width: 220px;
  text-align: center;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.header-logo a {
  display: block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none; 
  padding: 9px 0;
}

.header-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.header-logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.main-header form {
  float: left;
  position: relative;
}
.btn-search {
  width: 42px;
  height: 42px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.3);
  font-size: 17px;
}

.header-search {
  padding: 0;
  margin: 0;
  border: 0;
  width: 220px; 
  background-color: rgba(255, 255, 255, 0);
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  padding: 12px 0;
  padding-left: 50px;
}

.header-search::-webkit-input-placeholder {
  color: #ffffff; 
}
/*
input[type="search"]::-moz-input-placeholder {
  color: #ffffff; 
}
*/
.main-header form:hover {
  background-color: #212a3a;
}

.main-header form:hover .btn-search {
  color: rgba(255, 255, 255, 1);
}

input[type="search"]:focus {
  color: #000000;
  outline: none;
  background-color: #ffffff;
 }

input[type="search"]:focus + .btn-search {
  color: #ee3643;
}

.indicate {
  float: right; 
  width: 450px;
  font-size: 0;
  position: relative;
}

.marks {
  display: inline-block;
  width: 106px;
  font-size: 17px;
  line-height: 18px;
  padding: 12px 0;
  padding-left: 44px;
  color: #ffffff;
  text-decoration: none;
}

.marks::before {
  position: absolute;
  content: '';
  background: url("../img/sprite.png") no-repeat -106px -10px;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.marks:hover {
  background-color: #212a3a;
}

.marks:hover::before {
  opacity: 1;
}

.marks:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.marks:active::before {
  opacity: 0.5;
}

.basket {
  display: inline-block;
  width: 100px;
  font-size: 17px;
  line-height: 18px;
  padding: 12px 0;
  padding-left: 50px;
  color: #ffffff;
  text-decoration: none;
}

.basket::before {
  position: absolute;
  content: '';
  background: url("../img/sprite.png") no-repeat -69px -10px;
  width: 17px;
  height: 16px;
  top: 12px;
  left: 167px;
  opacity: 0.3;
}

.basket:hover {
  background-color: #212a3a;
}

.basket:hover::before {
  opacity: 1;
}

.basket:active{
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.basket:active::before {
  opacity: 0.5;
}

.send-order {
  display: inline-block;
  width: 150px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #63a63e;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.send-order:hover {
  background-color: #5fbb2d;
}

.send-order:active {
   background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}

.dark-scene {
  background-color: #293449 ;
}

.about {
  float: left;
  width: 197px;
  min-height: 70px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  padding-left: 53px;
  margin-top: 52px;
  margin-bottom: 36px;
  margin-right: 70px;
}

.header-contacts {
  float: left;
  width: 270px;
  margin-top: 45px;
}

.phone {
  width: 145px;
  font-size: 21px;
  color: #e9292a;
  border: 3px solid #ffffff;
  padding-left: 70px;
  padding-right: 49px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin: 0;
  position: relative;
}

.phone::before {
  position: absolute;
  content: '';
  background: url("../img/sprite.png") no-repeat  -626px -10px;
  width: 19px;
  height: 19px;
  top: 13px;
  left: 10px;
}

.address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
  margin: 0;
  padding-top: 5px;
}

.user-block {
  float: right;
  width: 320px;
  min-height: 70px;
  margin-top: 46px;
  font-size: 0;
  position: relative;
}

.not-authorized {
  display: none;
  padding-left: 40px;

}

.authorized {
  display: block;
  padding-left: 20px;
 
}

.login {
  display: inline-block;
  width: 45px;
  min-height: 23px;
  vertical-align: middle;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 48px;
  padding-right: 27px;
  background: #ffffff;
  margin-right: 10px;
}

.login::before {
  content: '';
  display: block;
  position: absolute;
  background: url("../img/sprite.png") no-repeat -464px -10px;
  width: 20px;
  height: 17px;
  top: 15px;
  left: 55px;
}

.login:hover {
  color: #ee3643;
}

.login:hover::before {
  background: url("../img/sprite.png") no-repeat -504px -10px;
}

.login:active {
  color: rgba(0, 0, 0, 0.3);
}

.login:active::before {
  background: url("../img/sprite.png") no-repeat -464px -10px;
}

.registration {
  display: inline-block;
  width: 150px;
  min-height: 23px;
  vertical-align: middle;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
  text-align: center;
  background: #ffffff;
  padding-top: 11px;
  padding-bottom: 11px;
}

.registration:hover {
  color: #ee3643;
}

.registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-name {
  display: inline-block;
  width: 187px;
  min-height: 23px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: normal;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 48px;
  padding-right: 65px;
  margin-bottom: 9px;
}

.user-icon::before {
  content: '';
  display: block;
  position: absolute;
  background: url("../img/sprite.png") no-repeat -809px -10px;
  width: 20px;
  height: 18px;
  top: 15px;
  left: 35px;
}

.logout-icon::after {
  content: '';
  display: block;
  position: absolute;
  background: url("../img/sprite.png") no-repeat -544px -10px;
  width: 21px;
  height: 17px;
  top: 15px;
  right: 10px;
}


.user-block-nav a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #49586f;
  padding-left: 18px;
  padding-right: 14px;
}

.user-icon:hover::before {
  background: url("../img/sprite.png") no-repeat -849px -10px;
}

.logout-icon:hover::after {
  background: url("../img/sprite.png") no-repeat -585px -10px;
}

.user-icon:active::before {
  background: url("../img/sprite.png") no-repeat -809px -10px;
}

.logout-icon:active::after {
  background: url("../img/sprite.png") no-repeat -544px -10px;
}
.user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block-nav a:hover {
   color: #ee3643;
}

.user-block-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-separator {
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
  position: absolute;
  bottom: 14px;
  left: 127px;
}

.main-navigation {
  clear: both;
  width: 940px;
  height: 60px;
  background-color: #32425c;
  box-shadow: inset 0 -10px 0 -5px #293449;
  text-align: center;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block; 
}

.main-navigation a {
  display: block;
  padding: 20px 30px;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  text-decoration: none;
}

.main-navigation a:hover {
  background-color: #293449; 
}

.main-navigation a:active {
  background-color: #1d2739; 
  color: rgba(255, 255, 255, 0.5);
}

.promo-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  margin-bottom: 11px;
}

.btn {
  display: block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  text-transform: uppercase;
}

.promo-btn {
  width: 135px;
  background-color: rgba(0, 0, 0, 0.1); 
}

.promo-btn:hover {
  background-color: rgba(0, 0, 0, 0.2); 
}

.promo-btn:active {
  background-color: rgba(0, 0, 0, 0.3); 
}

.materials {
  float: left;
  width: 260px;
  min-height: 79px;
  padding: 22px 20px;
  margin-right: 20px; 
  background: #f6b22d url("../img/materials.png") no-repeat 213px 31px;
  position: relative;
}

.tools {
  float: left;
  width: 260px;
  min-height: 79px;
  padding: 22px 20px;
  margin-right: 20px; 
  background: #4aafde url("../img/tools.png") no-repeat 197px 33px;
  position: relative;
}

.technics {
  float: right;
  width: 260px;
  min-height: 79px;
  padding: 22px 20px;
  background: #cc79d1 url("../img/technics.png") no-repeat 191px 31px;
  position: relative;
}

.promo{
  margin-top: 60px;
  margin-bottom: 53px;
}

.promo-top {
  margin-bottom: 20px;
}
.promo-left {
  float: left;
}

.promo-right {
  float: right;
}

.discount {
  width: 260px;
  min-height: 79px;
  padding: 22px 20px;
  margin-bottom: 20px; 
  background: #85d179 url("../img/discount.png") no-repeat 196px 26px;
  position: relative;
}

.delivery {
  width: 260px;
  min-height: 79px;
  padding: 22px 20px;
  background: #f6b22d url("../img/deliver.png") no-repeat 191px 32px;
  position: relative;
}

.slider {
  width: 620px;
  height: 266px;
  position: relative; background-color: cornflowerblue;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides{
  width: 200%;
  transition: transform 0s ease;
}

.slide-1 {
  float: left;
  position: relative;
}

.slide-2 {
  float: left;
  position: relative;
}

.slogan {
  position: absolute;
  left: 25px;
  top: 23px;
}

.slider-controls {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 36px;
  z-index: 100;
  text-align: center;
}

.slider-controls label {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    background: #ffffff;
    cursor: pointer;   
    border: 2px solid #ffffff;
    border-radius: 50%;        
    transition: background-color 0s;
}

.slider input[type="radio"] {
  display: none;
}

#slide-1:checked ~ .slider-controls label[for="slide-1"],
#slide-2:checked ~ .slider-controls label[for="slide-2"] { 
    background-color: #ee3643;
}

#slide-1:checked ~ .slider-inner .slider-slides { 
  transform: translate(0);
}

#slide-2:checked ~ .slider-inner .slider-slides { 
  transform: translate(-620px);
}

.slider-btn {
  position: absolute;
  width: 195px;
  background-color: #ee3643;
  bottom: 22px;
  left: 25px;
}

.slider-btn:hover{
  background-color: #ca2c37;
}

.slider-btn:active {
  background-color: #ba2732;
}

.slogan h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  padding:0;
  margin: 0;
  margin-bottom: 10px;
}

.slogan p {
  padding:0;
  margin:0;
  font-size: 18px;
  color: #ffffff;
}

.slider-nav {
  position: absolute;
  width: 22px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.slide-prev {
  left: 25px;
  top: 114px;
  background-position: -422px -10px;
}

.slide-next {
  top: 114px;
  right: 20px;
  width: 22px;
  background-position: -665px -10px;
}

.slider-nav:focus {
  outline: none;
}

.new-flag::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 60px;
  height: 60px;
  content: '';
  background: url("../img/new.png") no-repeat 0 0;
}

.popular {
  min-height: 89px;
  padding-left: 30px;
  padding-right: 24px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.popular h2 {
  float:left;
  margin-top: 29px;
}
.popular-btn {
  float:right;
  width: 253px;
  margin: 25px 0;
  background-color: #ee3643; 
}


.item {
  float: left;
  width: 218px;
  min-height: 316px;
  position: relative;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e5e5e5;
  margin-right: 20px;
  margin-bottom: 20px;
  
}

.item:last-child {
  margin-right: 0;
}

.catalog-list .item:nth-child(3n) {
  margin-right: 0;
}

.item-icon {
  width: 218px;
  min-height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
}

.item-icon img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.item-name {
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.item-name a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.old-price {
  display: block;
  min-height: 20px;
  margin-bottom: 10px;
  font-size: 17px;
  text-decoration: line-through;
  color: #999999;
}

.price {
  display: block;
  position: relative;
  width: 80px;
  margin: 0 auto 20px;
  padding: 10px 30px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  border-radius: 3px;
  background-color: #ee3643;
}

.price::after {
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  content: '';
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.new::before {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;
  width: 60px;
  height: 60px;
  content: '';
  background: url("../img/new.png") no-repeat 0 0;
}

.buying {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #ffffff; 
}

.btn-buy,
.btn-mark {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  background-color: #63a63e;
}

.btn-buy {
  box-shadow: inset 0 -3px 0 #367315;
  position: relative;
}

.btn-buy::before {
  position: absolute;
  content: '';
  background: url("../img/sprite.png") no-repeat -69px -10px;
  width: 17px;
  height: 16px;
  top: 12px;
  left: 12px;
  opacity: 0.3;
}

.btn-buy:hover {
  background-color: #5fbb2d;
}

.btn-buy:hover::before {
  opacity: 1;
}

.btn-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.btn-buy:focus::before {
  opacity: 0.3;
}

.btn-mark {
  width: 129px;
  padding: 7px 0;
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: #fff;
}

.btn-mark:hover {
  border-color: #32425c;
}

.btn-mark:active {
  opacity: 0.3;
}

.buying {
  display: none;
}

.item:hover .buying {
  display: block;
}

.item:hover {
  box-shadow: 0 7px 45px -12px;
}

.producers {
  font-size: 0;
  margin-bottom: 65px;
}

.producer {
  display: inline-block;
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  vertical-align: top;
}

.producer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 145px;
  resize: vertical;
}

.producer img {
  margin: auto;
} 

.producer:nth-child(4n) {
  margin-right: 0;
}

.producer:hover {
  box-shadow: 0 7px 45px -12px;
}

.service {
  padding-top: 46px;
  background-color: #f1f5f7;
}

.service h2+p {
  width: 430px;
  min-height: 50px;
  padding: 0;  
}

.tabs {
  float: left;
  width: 300px;
  height: 302px;
  margin-top: 18px;
  padding-top: 42px;
  background: url("../img/shadow_serv.png") no-repeat 230px 0;
}

.tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs a {
  display: block;
  width: 194px;
  background-color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 23px;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
  
}

.pages {
  float: right;
  width: 620px;
  margin-top: 25px;
}

.page-1 {
  display: block;
  height: 330px;
  background: url("../img/delivery.png") no-repeat 152px 69px;
}

.page-2 {
  display: none;
  height: 330px;
  background: url("../img/guarantee.png") no-repeat 231px 47px;
}

.page-3 {
  display: none;
  height: 330px;
  background: url("../img/credit.png") no-repeat 155px 45px;
}

.request-btn {
  background-color: #ee3643; 
  width: 195px;
  margin-top: 27px;
}

.page-1 p {
  width: 300px;
}

.page-2 p {
  width: 400px;
}

.page-3 p {
  width: 300px;
}

.information .left-col {
  float: left;
  width: 550px;
  height: 370px;
}

.information .right-col {
  float: right;
  width: 300px;
  height: 370px;
}

.left-col p {
  margin-bottom: 24px;
}

.information {
  margin-top: 80px;
  margin-bottom: 86px;
}

.information ul {
  padding: 0;
}
.information li {
  list-style: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  padding-bottom: 22px;
  padding-left: 36px;
  position: relative; 
}

.marker {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  left: 0;
  top: 9px;
}

.right-col p {
  width: 210px;
  margin-bottom: 28px;
}

.info-btn {
  width: 220px;
  margin-top: 13px;
  background-color: #ee3643; 
}

.write-btn {
  width: 300px;
  margin-top: 40px;
  background-color: #ee3643; 
}

.breadcrumbs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  padding: 21px 0;
}

.breadcrumbs a,
.breadcrumbs li {
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-home {
  font-size: 16px;
  opacity: 0.3;
}

.breadcrumbs span {
  padding: 0 15px;
  opacity: 0.3;
}

.left-column {
  float: left;
  width: 220px;
  min-height: 800px;
}

.right-column {
  float: right;
  width: 700px;
  min-height: 1085px;
}

.column-top {
  line-height: 18px;
  padding: 10px 0;
  padding-left: 18px;
  margin: 0;
  margin-bottom: 20px;
  background-color: #f7f3ec;
  position: relative;
  text-transform: uppercase;
}

.left-column .column-top {
  margin-bottom: 14px;
}

.sorting {
  padding: 0;
  margin: 0;
  margin-left: 120px;
  list-style: none;
  display: inline;
}

.sorting li {
  display: inline-block;
  margin-right: 60px;
}

.sorting li:last-child {
  margin-right: 0;
}

.sorting a {
  color: #acaaa5;
  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
  text-transform: uppercase;
}
.sorting a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting a:focus {
  color: #ee3643;
  border: 0;
}

.range-indicate {
  position: absolute;
  top: 8px;
  right: 17px;
}

.range-indicate a {
  text-decoration: none;
  color: #acaaa5;
  font-size: 20px;
}

.range-indicate a:hover {
  color: #000000;
}

.range-indicate a:focus {
  color: #ee3643;
}

legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

fieldset {
  padding: 0;
  margin: 0;
  border-width: 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 19px;
}

.range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 9px;
    padding: 0 20px;
    background-color: #f7f3ec;
    border-radius: 5px;
    overflow: hidden;
}
.scale {
    margin-top: 39px;
    height: 2px;
    background-color: #d7dcde;
}
.bar {
    height: 2px;
    background-color: #00ca74;
}
.toggle {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 4px;
    border: 8px solid #ffffff;
    height: 4px;
    background-color: #ababab;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 1px 0 0 #ababab;
}
.min-toggle {
    left: 20px;
}
.max-toggle {
    left: 160px;
}
.price-controls input {
    width: 75px;
    padding: 10px 10px;
    border:none;
    background-color: #f7f3ec;
    font-size: 17px;
    font-family: "PTSans", "Arial", sans-serif;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 25px;
}

.min-price {
    margin-right: 9px;
}

.max-price {
  margin-left: 9px;
}

.filter-2 input[type="checkbox"] {
  display: none;
}

.filter-2 input[type="checkbox"] + label {
  display: block;
  padding-left: 35px;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  margin-bottom: 24px;
}

.filter-2 input[type="checkbox"] + label::before {
   content: '\2610';
  position: absolute;
  width: 27px;
  height: 23px;
  font-family: "symbols-technomart";
  font-size: 28px;
  color: #c1c1c1;
  top: 1px;
  left: 1px;
}

.filter-2 input[type="checkbox"]:checked + label::before {
  content: '\2611';
  position: absolute;
  width: 27px;
  height: 23px;
  font-family: "symbols-technomart";
  font-size: 28px;
  color: #c1c1c1;
  top: 1px;
  left: 1px;
}

.filter-2 input[type="checkbox"] + label:hover::before {
  color: #b5b5b5;
}

.filter-3 {
  border-bottom-width: 0;
 margin-bottom: 60px;
}

.filter-3 input[type="radio"] {
  display: none;
}

.filter-3 input[type="radio"] + label {
  display: block;
  padding-left: 35px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
 padding-bottom: 24px;
}

.filter-3 input[type="radio"] + label::before {
  content: '\25cb';
  position: absolute;
  width: 27px;
  height: 23px;
  font-family: "symbols-technomart";
  font-size: 28px;
  color: #c1c1c1;
  top: 1px;
  left: 1px;
}

.filter-3 input[type="radio"]:checked + label::before {
  content: '\25cf';
  position: absolute;
  width: 27px;
  height: 23px;
  font-family: "symbols-technomart";
  font-size: 28px;
  color: #c1c1c1;
  top: 1px;
  left: 1px;
}

.filter-3 input[type="radio"] + label:hover::before {
  color: #b5b5b5;
}

/*.disable-filter {     Стиль для заблокированного элемента фильтра
 opacity: 0.3; */
}

.btn-filter {
  width: 128px;
  height: 36px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  line-height: 18px;
}

.paginator {
  margin-top: 32px; 
}

.btn-page {
  display: inline-block;
  min-width: 26px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 10px 5px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.next {
  padding: 10px 19px;
}

.btn-page:hover {
  border: 1px solid #bdc6ca;
}

.btn-page:active {
  border: 1px solid #ee3643;
}

.current {
  background-color: #ee3643;
  color: #ffffff;
}

.catalog-content {
  margin-bottom: 60px;
}

.catalog-text {
  height: 200px;
  padding-top: 30px;
  background-color: #f2f6f8;
}

.main-footer {
  min-height: 300px;
  background-color: #32425c;  
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.footer-logo {
  float:left;
  width: 220px;
  text-align: center;
  background-color: #ee3643;
  margin-right: 10px;
  margin-bottom: 20px;
}

.footer-logo a {
  display: block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none; 
  padding: 17px 0;
  box-shadow: 0 5px 0 0 #b52933;
  
}

.footer-navigation {
  float: right;
  text-align: right;
  font-size: 0;
  padding-top: 25px;
}

.footer-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation li {
  display: inline-block; 
}

.footer-navigation a {
  display: block;
  margin-left: 60px;
  margin-bottom:  20px;
  margin-top: 20px;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
}

.footer-nav-1 {
  width: 610px;
}

.footer-nav-2 a {
  color: #ffd180;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-contacts {
  float: left;
  width: 330px;
  margin-bottom: 50px; 
}

.main-footer .dark-scene {
  background-color: #293449;
  padding-top: 35px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
}

.rights {
  float: left;
  width: 230px;
  margin-right: 60px;
  height: 43px;
  margin-right: 160px;
}

.social {
  float: left;
  width: 132px;
  height: 43px;
}

.social-btn {
  display: inline-block;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #212a3a;
  font-size: 0;
  position: relative;
  vertical-align: top;
}

.social-btn::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/sprite.png") no-repeat;
}

.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}

.social-btn-vk::before {
  background-position: -889px -10px;
  width: 20px;
  height: 12px;
}

.social-btn-fb::before {
  background-position: -320px -10px;
  width: 10px;
  height: 18px;
}

.social-btn-inst::before {
  background-position: -385px -10px;
  width: 17px;
  height: 17px;
}

.feedback {
  float: right;
  width: 140px;
  height: 43px;
  margin-right: 32px;
}

.copyright {
  float: right;
  width: 140px;
  height: 43px;
}

.feedback-email {
  color: #ffd180;
  text-decoration: none;
}

.feedback-email:hover {
  text-decoration: underline;
}

.feedback-email:active {
  color: #ee3643;
  text-decoration: none;
}

.copyright-address {
  color: #ffd180;
  text-decoration: none;
}
.copyright-address:hover {
  text-decoration: underline;
}

.copyright-address:active {
  color: #ee3643;
  text-decoration: none;
}

.int-map {
  display: none;
}

.write-us {
  display: none;
  width: 620px;
  height: 430px;
}

.confirm {
  display: none;
}

.container-2 {
  width: 460px;
  margin: 0 auto;
}


